body{
    width: 90%;
    margin: 0 auto;
    table{
        thead{

            tr{
                th{
                    font-family: 'Poppins', sans-serif;
                    color: grey;

                }
            }
        }
    }
}